In [3]:
import pandas as pd
import os

master_df_a = pd.DataFrame()
master_df_b = pd.DataFrame()
master_df_c = pd.DataFrame()
master_df_d = pd.DataFrame()

# folder path
dir_path = f'01-17-2024'

# setup list of errored files
errored_files = []

# get list of files in directory
dir_path_files = os.listdir(dir_path)

# check if a subdirectory called xlsx exists
xlsx_files = []
if "xlsx" in dir_path_files:
    xlsx_files = os.listdir(f'{dir_path}/xlsx')

# iterate through each file in directory
for file_name in dir_path_files:
    
    if file_name[-4:] != ".txt":
        continue    
    
    if f'{file_name[:-4]}.xlsx' in xlsx_files:
        print(f"skipping {file_name}...")
        continue
    
    # check if current path is a file
    current_path = os.path.join(dir_path, file_name)
    if os.path.isfile(current_path):
        print(f'importing {file_name}...', end='')
        with open(f"{dir_path}/{file_name}") as file:
            readline_file = file.readlines()    # readlines() returns a list of lines in the file
            readline_file = [i for i in readline_file if i != "\n"] # remove lines containing only "\n"
        print('done')
        
        print('\tprocessing...', end='')        
        for e, input_line in enumerate(readline_file):  # iterate through each line
            try:
                input_line = input_line.split("\t") # split line by tab
                readline_file[e] = input_line    # replace line with split line
            except IndexError:
                print(e)    # print line number of error
                raise IndexError
        print('done')
        
        print('\tsorting...', end='')
        # function to convert list of strings to list of integers
        def process_list_to_integers(list_of_strings):
            if len(list_of_strings) < 5:
                list_of_strings.append('nan')
            
            for i in range(1,4):
                # remove first 4 characters 
                list_of_strings[i] = int(list_of_strings[i][4:]) 
            try:
                # remove first 3 characters and last character
                list_of_strings[4] = list_of_strings[4][3:-1]
            except IndexError:
                print(f"IndexError on line {list_of_strings}, {list_of_strings[4]}")
                raise IndexError
            except ValueError:
                print(f"ValueError on line {list_of_strings}, {list_of_strings[4][3:-1]}")
                raise ValueError
            return list_of_strings
        
        a, b, c, d, e =[[], [], [], [], []]   # initialize lists for each sensor
        for i in readline_file: # iterate through each line
            try:
                if i[1][1] == "A":  # if sensor is A
                    a.append(process_list_to_integers(i)) # append to list a
                elif i[1][1] == "B":    # if sensor is B
                    b.append(process_list_to_integers(i)) # append to list b
                elif i[1][1] == "C":    # if sensor is C
                    c.append(process_list_to_integers(i)) # append to list c
                elif i[1][1] == "D":    # if sensor is D
                    d.append(process_list_to_integers(i)) # append to list d
                # elif i[1][1] == "E":    # if sensor is E
                #     e.append(process_list_to_integers(i)) # append to list e
                else:
                    print(f"error on line {i}")    # print error if sensor is not A, B, C, or D
            except IndexError:
                print(f"IndexError on line {i}")
                continue
            except ValueError:
                print(f"ValueError on line {i}")
                continue
                
        print("done")
        
        print('\tconverting to dataframe...', end='')
        # convert lists to dataframes
        a = pd.DataFrame(a)
        b = pd.DataFrame(b)
        c = pd.DataFrame(c)
        d = pd.DataFrame(d)
        # e = pd.DataFrame(e)
        
        print('done')
        
        print('\tlabeling columns...', end='')
        try:
            # label columns
            a.columns = ['time_A', 'A0', 'A1', 'A2', 'T_A']
            b.columns = ['time_B', 'B0', 'B1', 'B2', 'T_B']
            c.columns = ['time_C', 'C0', 'C1', 'C2', 'T_C']
            d.columns = ['time_D', 'D0', 'D1', 'D2', 'T_D']
            # e.columns = ['time_E', 'E0', 'E1', 'E2', 'T_E']
            
        except ValueError:
            print(f"ValueError on file {file_name}")
            errored_files.append(file_name)
            continue
            
        print('done')
        
        print('\tconcatenating...', end='')
        # concatenate dataframes
        master_df = pd.concat([a, b, c, d], axis=1)
        print('done')
        
        print('\texporting...', end='')
        # check if xlsx directory exists
        if not os.path.exists(f'{dir_path}/xlsx'):
            os.makedirs(f'{dir_path}/xlsx')
            
        # export to xlsx            
        master_df.to_excel(f"{dir_path}/xlsx/{file_name[:-4]}.xlsx")
        
        print('done')
print('all done')   
if len(errored_files) > 0:
    print(f"errored files: {errored_files}")

skipping breaker1_01-17-24.txt...
skipping breaker2_01-17-24.txt...
skipping breaker3_01-17-24.txt...
skipping breaker4_01-17-24.txt...
skipping breaker5_01-17-24.txt...
skipping breaker6_01-17-24.txt...
skipping clean2_01-17-24.txt...
importing clean_01-17-24.txt...done
	processing...done
	sorting...done
	converting to dataframe...done
	labeling columns...done
	concatenating...done
	exporting...done
skipping green_bruised_AB1_01-17-24.txt...
skipping green_bruised_AB2_01-17-24.txt...
skipping green_bruised_CD1_01-17-24.txt...
skipping green_bruised_CD2_01-17-24.txt...
skipping turning_bruised_1_01-17-24.txt...
skipping turning_bruised_2_01-17-24.txt...
skipping turning_bruised_3_01-17-24.txt...
skipping turning_bruised_4_01-17-24.txt...
skipping turning_bruised_5_01-17-24.txt...
all done

In [42]:
import pandas as pd
file_path = 'Data collection Data/12-13-2023/orange4daybruised4_12-13-23.txt'
print(f'importing {file_path}...', end='')
with open(f"{file_path}") as file:
    readline_file = file.readlines()    # readlines() returns a list of lines in the file
    readline_file = [i for i in readline_file if i != "\n"] # remove lines containing only "\n"
print('done')

print('\tprocessing...', end='')        
for e, input_line in enumerate(readline_file):  # iterate through each line
    try:
        input_line = input_line.split("\t") # split line by tab
        readline_file[e] = input_line    # replace line with split line
    except IndexError:
        print(e)    # print line number of error
        raise IndexError
print('done')

print('\tsorting...', end='')
# function to convert list of strings to list of integers
def process_list_to_integers(list_of_strings):
    if len(list_of_strings) < 5:
        list_of_strings.append('nan')
    
    for i in range(1,4):
        # remove first 4 characters 
        list_of_strings[i] = int(list_of_strings[i][4:]) 
    try:
        # remove first 3 characters and last character
        list_of_strings[4] = list_of_strings[4][3:-1]
    except IndexError:
        print(f"[21] IndexError on line {list_of_strings}, {list_of_strings[4]}")
        raise IndexError
    except ValueError:
        print(f"ValueError on line {list_of_strings}, {list_of_strings[4][3:-1]}")
        raise ValueError
    return list_of_strings

a, b, c, d =[[], [], [], []]   # initialize lists for each sensor
for i in readline_file: # iterate through each line
    try:
        if i[1][1] == "A":  # if sensor is A
            a.append(process_list_to_integers(i)) # append to list a
        elif i[1][1] == "B":    # if sensor is B
            b.append(process_list_to_integers(i)) # append to list b
        elif i[1][1] == "C":    # if sensor is C
            c.append(process_list_to_integers(i)) # append to list c
        elif i[1][1] == "D":    # if sensor is D
            d.append(process_list_to_integers(i)) # append to list d
        else:
            print(f"error on line {i}")    # print error if sensor is not A, B, C, or D
    except IndexError:
        print(f"[49] IndexError on line {i}")
        continue
    except ValueError:
        print(f"ValueError on line {i}")
        continue
        
print("done")

print('\tconverting to dataframe...', end='')
# convert lists to dataframes
a = pd.DataFrame(a)
b = pd.DataFrame(b)
c = pd.DataFrame(c)
d = pd.DataFrame(d)

print('done')

importing Data collection Data/12-13-2023/orange4daybruised4_12-13-23.txt...done
	processing...done
	sorting...done
	converting to dataframe...done

In [47]:
d

           0   1    2   3    4
0       1.69  12  211  71  nan
1       1.61  12  211  71  nan
2       1.69  12  211  71  nan
3       0.03  12  211  71  nan
4       0.05  12  211  71  nan
...      ...  ..  ...  ..  ...
1600  119.76  13  210  79  nan
1601  119.84  13  210  79  nan
1602  119.92  13  210  79  nan
1603  120.00  13  210  79  nan
1604  120.07  13  210  80  nan

[1605 rows x 5 columns]

In [1]:
import pandas as pd

master_df_a = pd.DataFrame()
master_df_b = pd.DataFrame()
master_df_c = pd.DataFrame()
master_df_d = pd.DataFrame()

In [22]:
print('importing...', end='')
x = ""
file_name = "aeration4_12-09-23.txt"
# with open(f"raw_data (12-05-2023)/{file_name}") as file:
with open(f"{file_name}") as file:
    x = file.readlines()

x = [i for i in x if i != "\n"]
print('done')

print('processing...', end='')
def process(x1):
    x1[3] = x1[3][:]
    return x1
    
# [process(x) for i in x]
# out = [process(x1.split("\t")) for x1 in x]

out = []
for e, x1 in enumerate(x):
    try:
        out.append(process(x1.split("\t")))
    except IndexError:
        print(e)
        raise IndexError

print('done')

print('sorting...', end='')
def process2(x1):
    for i in range(1,4):
        x1[i] = x1[i][4:]
    try:
        x1[4] = x1[4][3:-1]
    except IndexError:
        pass
    return x1

a = []
b = []
c = []
d = []

for i in out:
    if i[1][1] == "A":
        a.append(process2(i))
    elif i[1][1] == "B":
        b.append(process2(i))
    elif i[1][1] == "C":
        c.append(process2(i))
    elif i[1][1] == "D":
        d.append(process2(i))
    else:
        print("error")
        
print("done")

importing...done
processing...done
sorting...done

In [112]:
x[6177]

'109.72\t122\n'

In [6]:
a[0]

['0.03', '16', '212', '52', '25.80']

In [110]:
import pandas as pd

pd.DataFrame(a)

           0   1    2    3
0       0.01  65  290  172
1       0.03  65  290  172
2       0.09  65  290  172
3       0.15  65  289  172
4       0.21  65  290  172
...      ...  ..  ...  ...
2070  157.16  49  288  157
2071  157.22  49  288  156
2072  157.29  49  288  157
2073  157.35  48  288  156
2074  157.41  49  288  157

[2075 rows x 4 columns]

In [72]:
a_data_name = "Green_2"
b_data_name = a_data_name
c_data_name = a_data_name
d_data_name = a_data_name

In [73]:
import pandas as pd
# "C-F_SealedTupperware D-E_SealedPlastic.txt"
# a_data_name = "F_SealedTupperware"[2:]
# b_data_name = "E_SealedPlastic"[2:]
# c_data_name = ""[2:]
# d_data_name = ""[2:]

if a_data_name != "":
    print(f"found a as {a_data_name}")
    df_a = pd.DataFrame(a)
    df_a.columns = [f'time_{a_data_name}', f'A0_{a_data_name}', f'A1_{a_data_name}', f'A2_{a_data_name}']
    master_df_a = pd.concat([master_df_a, df_a], axis=1)

if b_data_name != "":
    print(f"found b as {b_data_name}")
    df_b = pd.DataFrame(b) 
    df_b.columns = [f'time_{b_data_name}', f'B0_{b_data_name}', f'B1_{b_data_name}', f'B2_{b_data_name}']
    master_df_b = pd.concat([master_df_b, df_b], axis=1)

if c_data_name != "":
    print(f"found c as {c_data_name}")
    df_c = pd.DataFrame(c)
    df_c.columns = [f'time_{c_data_name}', f'C0_{c_data_name}', f'C1_{c_data_name}', f'C2_{c_data_name}']
    master_df_c = pd.concat([master_df_c, df_c], axis=1)

if d_data_name != "":
    print(f"found d as {d_data_name}")
    df_d = pd.DataFrame(d)
    df_d.columns = [f'time_{d_data_name}', f'D0_{d_data_name}', f'D1_{d_data_name}', f'D2_{d_data_name}', f'T_{d_data_name}']
    master_df_d = pd.concat([master_df_d, df_d], axis=1)

found a as Green_2
found b as Green_2
found c as Green_2
found d as Green_2

In [75]:
master_df_a

     time_Green_2 A0_Green_2 A1_Green_2 A2_Green_2
0            0.01         77        307        182
1            0.03         77        307        182
2            0.09         77        307        182
3            0.15         77        307        182
4            0.21         77        307        183
...           ...        ...        ...        ...
2002       152.77         74        305        169
2003       152.84         74        305        169
2004       152.90         74        305        169
2005       152.97         74        305        169
2006       153.03         74        305        169

[2007 rows x 4 columns]

In [103]:
import pandas as pd
sensor_label = 'A'

#!!
df = pd.DataFrame(a)
# df.columns = [f'time_{sensor_label}_{data_name}', f'{sensor_label}0_{data_name}', 
#               f'{sensor_label}1_{data_name}', f'{sensor_label}2_{data_name}']


df.columns = [f'time_{sensor_label}', f'{sensor_label}0', f'{sensor_label}1', f'{sensor_label}2']

A_AgedOpenAir = df

df

def label_columns()

      time_A  A0   A1   A2
0       0.00  44  356  102
1       0.01  44  356  102
2       0.02  44  356  102
3       0.03  44  356  102
4       0.06  44  356  102
...      ...  ..  ...  ...
6157  189.88  43  356   94
6158  189.91  43  356   94
6159  189.94  43  356   94
6160  189.97  43  356   94
6161  190.00  43  356   94

[6162 rows x 4 columns]

In [104]:
master_df = pd.DataFrame()

In [108]:
master_df = pd.concat([A_AgedOpenAirMold, B_AgedOpenAirMold, C_AgedOpenAirMold, D_AgedOpenAirMold], axis=1)
master_df

,time_A,A0,A1,A2,time_B,B0,B1,B2,time_C,C0,C1,C2,time_D,D0,D1,D2
0,0.00,50,379,110,0.00,143,289,105,0.00,55,143,374,0.00,35,258,108
1,0.01,50,380,110,0.01,143,289,105,0.01,55,143,374,0.01,34,258,108
2,0.02,50,380,110,0.02,143,289,105,0.02,56,143,374,0.02,35,258,108
3,0.03,50,380,110,0.03,143,289,105,0.03,55,143,374,0.03,34,258,108
4,0.06,50,380,110,0.07,143,289,105,0.06,55,143,374,0.06,34,258,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6157,NaN,NaN,NaN,NaN,201.27,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6158,NaN,NaN,NaN,NaN,201.31,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6159,NaN,NaN,NaN,NaN,201.34,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6160,NaN,NaN,NaN,NaN,201.37,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6161,NaN,NaN,NaN,NaN,201.41,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
data_name = 'AgedOpenAirMold'
master_df.to_csv(f"{data_name}.csv")
master_df.to_excel(f"{data_name}.xlsx")

In [23]:
master_df_a.to_excel(f"A.xlsx")
print('a done')
master_df_b.to_excel(f"B.xlsx")
print('b done')
master_df_c.to_excel(f"C.xlsx")
print('c done')
master_df_d.to_excel(f"D.xlsx")
print('d done')

a done
b done
c done
d done

In [80]:
master_df_E = master_df_b
master_df_E.to_excel(f"E.xlsx")
print('e done')

master_df_F = master_df_a
master_df_F.to_excel(f"F.xlsx")
print('f done')

e done
f done

In [50]:
master_df_d.to_excel(f"D Open Air Mold.xlsx")
print('d done')

d done

In [23]:
a = pd.DataFrame(a)
a.columns = ['time_A', 'A0', 'A1', 'A2', 'T_A']

b = pd.DataFrame(b)
b.columns = ['time_B', 'B0', 'B1', 'B2', 'T_B']

c = pd.DataFrame(c)
c.columns = ['time_C', 'C0', 'C1', 'C2', 'T_C']

d = pd.DataFrame(d)
d.columns = ['time_D', 'D0', 'D1', 'D2', 'T_D']

combined_df = pd.concat([a, b, c, d], axis=1)
combined_df.to_excel(f"aeration4_12-09-23.xlsx")
print('done')

done

In [31]:
import pandas as pd

m_df = pd.read_csv('m_df(12-05-23 to 12-13-23).csv', low_memory=False)

m_df

,Unnamed: 0,time,value,data_label,file_origin,sensor_label,sensor_number,date_collected
0,0,0.10,27.0,breaker,breaker10_12-11-23.xlsx,A,0,12-11-23
1,1,0.17,27.0,breaker,breaker10_12-11-23.xlsx,A,0,12-11-23
2,2,0.25,27.0,breaker,breaker10_12-11-23.xlsx,A,0,12-11-23
3,3,0.32,27.0,breaker,breaker10_12-11-23.xlsx,A,0,12-11-23
4,4,0.40,27.0,breaker,breaker10_12-11-23.xlsx,A,0,12-11-23
...,...,...,...,...,...,...,...,...
3998315,1597,119.76,NaN,turning,turning9_12-12-23.xlsx,D,T,12-12-23
3998316,1598,119.84,NaN,turning,turning9_12-12-23.xlsx,D,T,12-12-23
3998317,1599,119.92,NaN,turning,turning9_12-12-23.xlsx,D,T,12-12-23
3998318,1600,120.00,NaN,turning,turning9_12-12-23.xlsx,D,T,12-12-23
3998319,1601,120.07,NaN,turning,turning9_12-12-23.xlsx,D,T,12-12-23

In [63]:
dates_with_clean = list(m_df[m_df['data_label'] == 'clean']['date_collected'].unique())
data_frame_filtered_with_dates = m_df[m_df['date_collected'].isin(dates_with_clean)]

data_frame_drop_conditions = data_frame_filtered_with_dates[data_frame_filtered_with_dates['sensor_label'] == 'C']
data_frame_drop_conditions = data_frame_drop_conditions[data_frame_drop_conditions['date_collected'] == '12-12-23']

data_frame_filtered_with_dates = data_frame_filtered_with_dates.drop(data_frame_drop_conditions.index)


data_label_filtered_with_dates = list(data_frame_filtered_with_dates['data_label'].unique())

for i in data_label_filtered_with_dates:
    print(f'{i}: {len(data_frame_filtered_with_dates[data_frame_filtered_with_dates["data_label"] == i])}')

breaker: 528480
clean: 306204
green: 682160
red_bruised: 206784
red: 511984
spoiled: 157680
turning: 307500

In [62]:
dates_with_clean = list(m_df[m_df['data_label'] == 'clean']['date_collected'].unique())
data_frame_filtered_with_dates = m_df[m_df['date_collected'].isin(dates_with_clean)]

# data_frame_drop_conditions = data_frame_filtered_with_dates[data_frame_filtered_with_dates['sensor_label'] == 'C']
# data_frame_drop_conditions = data_frame_drop_conditions[data_frame_drop_conditions['date_collected'] == '12-12-23']
# 
# data_frame_filtered_with_dates = data_frame_filtered_with_dates.drop(data_frame_drop_conditions.index)


data_label_filtered_with_dates = list(data_frame_filtered_with_dates['data_label'].unique())

for i in data_label_filtered_with_dates:
    print(f'{i}: {len(data_frame_filtered_with_dates[data_frame_filtered_with_dates["data_label"] == i])}')

breaker: 528480
clean: 331840
green: 682160
red_bruised: 206784
red: 614432
spoiled: 210240
turning: 410000

In [65]:
# old
# breaker: 528480
# clean: 331840
# green: 682160
# red_bruised: 206784
# red: 614432
# spoiled: 210240
# turning: 410000
# 
# new
# breaker: 528480
# clean: 306204
# green: 682160
# red_bruised: 206784
# red: 511984
# spoiled: 157680
# turning: 307500

print(f"breaker: {528480 - 528480}\n"
      f"clean: {331840 - 306204}\n"
      f"green: {682160 - 682160}\n"
      f"red_bruised: {206784 - 206784}\n"
      f"red: {614432 - 511984}\n"
      f"spoiled: {210240 - 157680}\n"
      f"turning: {410000 - 307500}")

breaker: 0
clean: 25636
green: 0
red_bruised: 0
red: 102448
spoiled: 52560
turning: 102500

In [25]:
data_label_filtered_with_dates = list(data_frame_filtered_with_dates['data_label'].unique())

for i in data_label_filtered_with_dates:
    counting_variable = 0
    for j in data_frame_filtered_with_dates['file_origin'].unique():
        if i in j:
            counting_variable += 1
    
    if i == 'red_bruised':
        counting_variable = len(data_frame_filtered_with_dates[data_frame_filtered_with_dates['data_label'] == 'red_bruised']['file_origin'].unique())
    
    print(f'{i}: {counting_variable}')

breaker: 20
clean: 12
green: 24
red_bruised: 8
red: 24
spoiled: 8
turning: 16

In [44]:
max_value = m_df[m_df["date_collected"] == '12-05-23']['value'].min()
m_df[m_df["date_collected"] == '12-05-23'][m_df["value"] == max_value].iloc[0]

C:\Users\jsonf\AppData\Local\Temp\ipykernel_3604\2902982551.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  m_df[m_df["date_collected"] == '12-05-23'][m_df["value"] == max_value].iloc[0]

Unnamed: 0                       890
time                            53.3
value                           15.0
data_label                       red
file_origin       Red1_12-05-23.xlsx
sensor_label                       C
sensor_number                      0
date_collected              12-05-23
Name: 2147937, dtype: object

In [56]:
frame_filtered_by_sensor_label = m_df[m_df["sensor_label"] == 'A']
frame_filtered_by_sensor_number = frame_filtered_by_sensor_label[  frame_filtered_by_sensor_label["sensor_number"] == "1"]
frame_filtered_by_sensor_number

,Unnamed: 0,time,value,data_label,file_origin,sensor_label,sensor_number,date_collected
249895,0,0.10,183.0,breaker,breaker10_12-11-23.xlsx,A,1,12-11-23
249896,1,0.17,183.0,breaker,breaker10_12-11-23.xlsx,A,1,12-11-23
249897,2,0.25,183.0,breaker,breaker10_12-11-23.xlsx,A,1,12-11-23
249898,3,0.32,183.0,breaker,breaker10_12-11-23.xlsx,A,1,12-11-23
249899,4,0.40,183.0,breaker,breaker10_12-11-23.xlsx,A,1,12-11-23
...,...,...,...,...,...,...,...,...
499785,1597,126.57,175.0,turning,turning9_12-12-23.xlsx,A,1,12-12-23
499786,1598,126.65,176.0,turning,turning9_12-12-23.xlsx,A,1,12-12-23
499787,1599,126.73,176.0,turning,turning9_12-12-23.xlsx,A,1,12-12-23
499788,1600,126.81,176.0,turning,turning9_12-12-23.xlsx,A,1,12-12-23
499789,1601,126.89,176.0,turning,turning9_12-12-23.xlsx,A,1,12-12-23

In [60]:
for i in dates_with_clean:
    frame_filtered_by_sensor_label = m_df[m_df["sensor_label"] == 'A']
    frame_filtered_by_sensor_number = frame_filtered_by_sensor_label[
                                        frame_filtered_by_sensor_label["sensor_number"] == "1"]
    frame_filtered_by_date = frame_filtered_by_sensor_number[
                                        frame_filtered_by_sensor_number["date_collected"] == i]
    
    max_value = frame_filtered_by_date['value'].max()
    min_value = frame_filtered_by_date['value'].min()
    
    max_value_frame = frame_filtered_by_date[frame_filtered_by_date["value"] == max_value]
    min_value_frame = frame_filtered_by_date[frame_filtered_by_date["value"] == min_value]
    
    print(f'{i}:')
    print("max value:")
    if len(max_value_frame) > 1:
        for j in max_value_frame['data_label'].unique():
            print(f'\t{j}: {len(max_value_frame[max_value_frame["data_label"] == j])}')
        print(max_value_frame.iloc[0])
    else:
        print(max_value_frame)
    print('\n')
    print("min value:")
    if len(min_value_frame) > 1:
        for j in min_value_frame['data_label'].unique():
            print(f'\t{j}: {len(min_value_frame[min_value_frame["data_label"] == j])}')
        print(min_value_frame.iloc[0])
    else:
        print(min_value_frame)
    print(f'\n\n')

12-09-23:
max value:
	clean: 402
Unnamed: 0                           0
time                              0.03
value                            212.0
data_label                       clean
file_origin       clean1_12-09-23.xlsx
sensor_label                         A
sensor_number                        1
date_collected                12-09-23
Name: 306245, dtype: object


min value:
	breaker: 788
Unnamed: 0                            14
time                                1.06
value                              171.0
data_label                       breaker
file_origin       breaker1_12-09-23.xlsx
sensor_label                           A
sensor_number                          1
date_collected                  12-09-23
Name: 270192, dtype: object


12-11-23:
max value:
        Unnamed: 0   time  value data_label  \
314728         956  73.97  376.0      clean

                               file_origin sensor_label sensor_number  \
314728  cleannobarriernotray_12-11-23.xlsx            A             1

       date_collected
314728       12-11-23


min value:
	red: 363
Unnamed: 0                       310
time                           24.32
value                          169.0
data_label                       red
file_origin       red5_12-11-23.xlsx
sensor_label                       A
sensor_number                      1
date_collected              12-11-23
Name: 422872, dtype: object


12-12-23:
max value:
	clean: 52
Unnamed: 0                                         0
time                                            0.03
value                                          249.0
data_label                                     clean
file_origin       cleannobarriernotray_12-12-23.xlsx
sensor_label                                       A
sensor_number                                      1
date_collected                              12-12-23
Name: 315710, dtype: object


min value:
        Unnamed: 0    time  value data_label          file_origin  \
391053        1276  100.54  140.0        red  red12_12-12-23.xlsx

       sensor_label sensor_number date_collected
391053            A             1       12-12-23


12-13-23:
max value:
        Unnamed: 0   time  value data_label  \
317894         582  45.53  207.0      clean

                               file_origin sensor_label sensor_number  \
317894  cleannobarriernotray_12-13-23.xlsx            A             1

       date_collected
317894       12-13-23


min value:
	red_bruised: 64
Unnamed: 0                                     908
time                                         71.45
value                                        171.0
data_label                             red_bruised
file_origin       orange4daybruised8_12-13-23.xlsx
sensor_label                                     A
sensor_number                                    1
date_collected                            12-13-23
Name: 385866, dtype: object