In [1]:
import pandas as pd

master_df_a = pd.DataFrame()
master_df_b = pd.DataFrame()
master_df_c = pd.DataFrame()
master_df_d = pd.DataFrame()

In [22]:
print('importing...', end='')
x = ""
file_name = "aeration4_12-09-23.txt"
# with open(f"raw_data (12-05-2023)/{file_name}") as file:
with open(f"{file_name}") as file:
    x = file.readlines()

x = [i for i in x if i != "\n"]
print('done')

print('processing...', end='')
def process(x1):
    x1[3] = x1[3][:]
    return x1
    
# [process(x) for i in x]
# out = [process(x1.split("\t")) for x1 in x]

out = []
for e, x1 in enumerate(x):
    try:
        out.append(process(x1.split("\t")))
    except IndexError:
        print(e)
        raise IndexError

print('done')

print('sorting...', end='')
def process2(x1):
    for i in range(1,4):
        x1[i] = x1[i][4:]
    try:
        x1[4] = x1[4][3:-1]
    except IndexError:
        pass
    return x1

a = []
b = []
c = []
d = []

for i in out:
    if i[1][1] == "A":
        a.append(process2(i))
    elif i[1][1] == "B":
        b.append(process2(i))
    elif i[1][1] == "C":
        c.append(process2(i))
    elif i[1][1] == "D":
        d.append(process2(i))
    else:
        print("error")
        
print("done")

importing...done
processing...done
sorting...done

In [112]:
x[6177]

'109.72\t122\n'

In [6]:
a[0]

['0.03', '16', '212', '52', '25.80']

In [110]:
import pandas as pd

pd.DataFrame(a)

           0   1    2    3
0       0.01  65  290  172
1       0.03  65  290  172
2       0.09  65  290  172
3       0.15  65  289  172
4       0.21  65  290  172
...      ...  ..  ...  ...
2070  157.16  49  288  157
2071  157.22  49  288  156
2072  157.29  49  288  157
2073  157.35  48  288  156
2074  157.41  49  288  157

[2075 rows x 4 columns]

In [72]:
a_data_name = "Green_2"
b_data_name = a_data_name
c_data_name = a_data_name
d_data_name = a_data_name

In [73]:
import pandas as pd
# "C-F_SealedTupperware D-E_SealedPlastic.txt"
# a_data_name = "F_SealedTupperware"[2:]
# b_data_name = "E_SealedPlastic"[2:]
# c_data_name = ""[2:]
# d_data_name = ""[2:]

if a_data_name != "":
    print(f"found a as {a_data_name}")
    df_a = pd.DataFrame(a)
    df_a.columns = [f'time_{a_data_name}', f'A0_{a_data_name}', f'A1_{a_data_name}', f'A2_{a_data_name}']
    master_df_a = pd.concat([master_df_a, df_a], axis=1)

if b_data_name != "":
    print(f"found b as {b_data_name}")
    df_b = pd.DataFrame(b) 
    df_b.columns = [f'time_{b_data_name}', f'B0_{b_data_name}', f'B1_{b_data_name}', f'B2_{b_data_name}']
    master_df_b = pd.concat([master_df_b, df_b], axis=1)

if c_data_name != "":
    print(f"found c as {c_data_name}")
    df_c = pd.DataFrame(c)
    df_c.columns = [f'time_{c_data_name}', f'C0_{c_data_name}', f'C1_{c_data_name}', f'C2_{c_data_name}']
    master_df_c = pd.concat([master_df_c, df_c], axis=1)

if d_data_name != "":
    print(f"found d as {d_data_name}")
    df_d = pd.DataFrame(d)
    df_d.columns = [f'time_{d_data_name}', f'D0_{d_data_name}', f'D1_{d_data_name}', f'D2_{d_data_name}', f'T_{d_data_name}']
    master_df_d = pd.concat([master_df_d, df_d], axis=1)

found a as Green_2
found b as Green_2
found c as Green_2
found d as Green_2

In [75]:
master_df_a

     time_Green_2 A0_Green_2 A1_Green_2 A2_Green_2
0            0.01         77        307        182
1            0.03         77        307        182
2            0.09         77        307        182
3            0.15         77        307        182
4            0.21         77        307        183
...           ...        ...        ...        ...
2002       152.77         74        305        169
2003       152.84         74        305        169
2004       152.90         74        305        169
2005       152.97         74        305        169
2006       153.03         74        305        169

[2007 rows x 4 columns]

In [103]:
import pandas as pd
sensor_label = 'A'

#!!
df = pd.DataFrame(a)
# df.columns = [f'time_{sensor_label}_{data_name}', f'{sensor_label}0_{data_name}', 
#               f'{sensor_label}1_{data_name}', f'{sensor_label}2_{data_name}']


df.columns = [f'time_{sensor_label}', f'{sensor_label}0', f'{sensor_label}1', f'{sensor_label}2']

A_AgedOpenAir = df

df

def label_columns()

      time_A  A0   A1   A2
0       0.00  44  356  102
1       0.01  44  356  102
2       0.02  44  356  102
3       0.03  44  356  102
4       0.06  44  356  102
...      ...  ..  ...  ...
6157  189.88  43  356   94
6158  189.91  43  356   94
6159  189.94  43  356   94
6160  189.97  43  356   94
6161  190.00  43  356   94

[6162 rows x 4 columns]

In [104]:
master_df = pd.DataFrame()

In [108]:
master_df = pd.concat([A_AgedOpenAirMold, B_AgedOpenAirMold, C_AgedOpenAirMold, D_AgedOpenAirMold], axis=1)
master_df

,time_A,A0,A1,A2,time_B,B0,B1,B2,time_C,C0,C1,C2,time_D,D0,D1,D2
0,0.00,50,379,110,0.00,143,289,105,0.00,55,143,374,0.00,35,258,108
1,0.01,50,380,110,0.01,143,289,105,0.01,55,143,374,0.01,34,258,108
2,0.02,50,380,110,0.02,143,289,105,0.02,56,143,374,0.02,35,258,108
3,0.03,50,380,110,0.03,143,289,105,0.03,55,143,374,0.03,34,258,108
4,0.06,50,380,110,0.07,143,289,105,0.06,55,143,374,0.06,34,258,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6157,NaN,NaN,NaN,NaN,201.27,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6158,NaN,NaN,NaN,NaN,201.31,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6159,NaN,NaN,NaN,NaN,201.34,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6160,NaN,NaN,NaN,NaN,201.37,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6161,NaN,NaN,NaN,NaN,201.41,142,281,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
data_name = 'AgedOpenAirMold'
master_df.to_csv(f"{data_name}.csv")
master_df.to_excel(f"{data_name}.xlsx")

In [23]:
master_df_a.to_excel(f"A.xlsx")
print('a done')
master_df_b.to_excel(f"B.xlsx")
print('b done')
master_df_c.to_excel(f"C.xlsx")
print('c done')
master_df_d.to_excel(f"D.xlsx")
print('d done')

a done
b done
c done
d done

In [80]:
master_df_E = master_df_b
master_df_E.to_excel(f"E.xlsx")
print('e done')

master_df_F = master_df_a
master_df_F.to_excel(f"F.xlsx")
print('f done')

e done
f done

In [50]:
master_df_d.to_excel(f"D Open Air Mold.xlsx")
print('d done')

d done

In [23]:
a = pd.DataFrame(a)
a.columns = ['time_A', 'A0', 'A1', 'A2', 'T_A']

b = pd.DataFrame(b)
b.columns = ['time_B', 'B0', 'B1', 'B2', 'T_B']

c = pd.DataFrame(c)
c.columns = ['time_C', 'C0', 'C1', 'C2', 'T_C']

d = pd.DataFrame(d)
d.columns = ['time_D', 'D0', 'D1', 'D2', 'T_D']

combined_df = pd.concat([a, b, c, d], axis=1)
combined_df.to_excel(f"aeration4_12-09-23.xlsx")
print('done')

done